# **UNEMPLOYEMENT ANALYSIS**

### **Load Necessary Libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

### **Load DataSets**

In [2]:
file1 = "Unemployment_Rate_upto_11_2020 - Unemployment_Rate_upto_11_2020.csv"
file2 = "Unemployment in India - Unemployment in India.csv"

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

### **Explore The Dataset 1**

In [3]:
df1.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,Longitude,Latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Region                                   267 non-null    object
 1   Date                                     267 non-null    object
 2   Frequency                                267 non-null    object
 3   Estimated Unemployment Rate (%)          267 non-null    float64
 4   Estimated Employed                       267 non-null    int64
 5   Estimated Labour Participation Rate (%)  267 non-null    float64
 6   Region.1                                 267 non-null    object
 7   Longitude                                267 non-null    float64
 8   Latitude                                 267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

### **Formatting DataSet1**

In [5]:
column_name_mapping1 = {
    'Region': 'State',
    'Region.1': 'Region'
    }
df1 = df1.rename(columns=column_name_mapping1)
df1.head()

,State,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region,Longitude,Latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [6]:
columns_to_drop1 = []
for column in df1.columns:
    if df1[column].nunique() == 1:
        columns_to_drop1.append(column)
df1 = df1.drop(columns=columns_to_drop1)
print("Columns dropped : ",columns_to_drop1)
df1.head()

Columns dropped :  ['Frequency']

,State,Date,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region,Longitude,Latitude
0,Andhra Pradesh,31-01-2020,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,17.43,12988845,36.46,South,15.9129,79.74

### **Explore The Dataset 2**

In [7]:
df2.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Region                                   740 non-null    object
 1   Date                                     740 non-null    object
 2   Frequency                                740 non-null    object
 3   Estimated Unemployment Rate (%)          740 non-null    float64
 4   Estimated Employed                       740 non-null    float64
 5   Estimated Labour Participation Rate (%)  740 non-null    float64
 6   Area                                     740 non-null    object
dtypes: float64(3), object(4)
memory usage: 41.4+ KB

### **Formatting DataSet2**

In [9]:
column_name_mapping2 = {
    'Region': 'State',
    'Area': 'Area(Urban/Rural)'
    }
df2 = df2.rename(columns=column_name_mapping2)
df2.head()

,State,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area(Urban/Rural)
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [ ]:
columns_to_drop2 = []
for column in df2.columns:
    if df2[column].nunique() == 1:
        columns_to_drop2.append(column)
df2 = df2.drop(columns=columns_to_drop2)
print("Columns dropped : ",columns_to_drop2)
df2.head()

### **Merge the two datasets based on common columns**

In [ ]:
merged_df = pd.merge(df1, df2, on=['State', 'Date','Estimated Unemployment Rate (%)','Estimated Employed','Estimated Labour Participation Rate (%)'],how='outer')

### **Explore the merged dataset**

In [ ]:
merged_df.head()

In [ ]:
merged_df.info()

### **Some Statistical Analysis**

In [ ]:
merged_df['Estimated Unemployment Rate (%)'].describe()

In [ ]:
merged_df.groupby('State')['Estimated Unemployment Rate (%)'].mean().reset_index()

### **Histograms for unemployment rates Statewise**

In [ ]:
plt.figure(figsize=(15, 10))
plt.title("Unemployment In India Statewise")
sns.histplot(x="Estimated Unemployment Rate (%)",hue="State",data=merged_df)
plt.show()

### **Histograms for unemployment rates Regionwise**

In [ ]:
plt.figure(figsize=(15, 10))
plt.title("Unemployment In India Regionwise")
sns.histplot(x="Estimated Unemployment Rate (%)",hue="Region",data=merged_df)
plt.show()

### **Histograms for unemployment rates Areawise**

In [ ]:
plt.figure(figsize=(15, 10))
plt.title("Unemployment In India Areawise")
sns.histplot(x="Estimated Unemployment Rate (%)",hue="Area(Urban/Rural)",data=merged_df)
plt.show()

### **Unemployment Rates Over Time for All States**

In [ ]:
plt.figure(figsize=(20, 10))
plt.title('Unemployment Rates Over Time for All States')
filtered_df = merged_df.dropna(subset=['Estimated Unemployment Rate (%)'])
for state in filtered_df['State'].unique():
    state_data = filtered_df[filtered_df['State'] == state]
    plt.plot(state_data['Date'], state_data['Estimated Unemployment Rate (%)'], label=state)
plt.xlabel('Date')
plt.ylabel('Unemployment Rate (%)')
plt.grid(True)
plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
plt.show()

### **Box Plot of Unemployment Rates by State**

In [ ]:
plt.figure(figsize=(12, 6))
plt.title('Box Plot of Unemployment Rates by State')
sns.boxplot(data=merged_df, x='State', y='Estimated Unemployment Rate (%)')
plt.xticks(rotation=90)
plt.xlabel('State')
plt.ylabel('Unemployment Rate (%)')
plt.show()

### **Correlation Heatmap**

In [ ]:
plt.figure(figsize=(12, 8))
plt.title('Correlation Heatmap')
corr_matrix = merged_df.corr()
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.show()

### **Sunburst Plot**

In [ ]:
sundata=merged_df[['Area(Urban/Rural)','State','Estimated Unemployment Rate (%)']].dropna(subset=['Area(Urban/Rural)','State'])
fig = px.sunburst(
    sundata,
    path=['Area(Urban/Rural)','State'],
    values='Estimated Unemployment Rate (%)',
    color='Estimated Unemployment Rate (%)',
    color_continuous_scale='viridis',
    title='Unemployment Rate Sunburst Plot'
)
fig.update_layout(
    width=1000,
    height=800
    )

fig.show()

In [ ]:
sundata=merged_df[['Region','State','Estimated Unemployment Rate (%)']].dropna(subset=['Region','State'])
fig = px.sunburst(
    sundata,
    path=['Region','State'],
    values='Estimated Unemployment Rate (%)',
    color='Estimated Unemployment Rate (%)',
    color_continuous_scale='viridis',
    title='Unemployment Rate Sunburst Plot'
)
fig.update_layout(
    width=1000,
    height=800
    )

fig.show()